<div class="wrapper">

	<main id="login-section">
		{{#if messages.error}}
			<div class="messages">
				<span>{{messages.error}}</span>
			</div>
		{{/if}}
		<div class="title">
			<h2>Add Worker</h2>
		</div>
		<form action="/admin/add/employee" method="POST">
			<div class="email form-group">
				<i class="fas fa-user"></i>
				<input
					type="text"
					name="username"
					id="email"
					placeholder="UserName"
					required
				/>
			</div>
			<label for="">Role:</label><br />
			<div class="role form-group">
				<select name="role" id="">
					<option value="Worker">Worker</option>
					<option value="Admin">Admin</option>
				</select>
			</div>
			<div class="password form-group">
				<i class="fas fa-lock"></i>
				<input
					type="password"
					name="password"
					id="password"
					placeholder="password"
					required
				/>
			</div>
			<button class="bg-red" type="submit">Login</button>

		</form>
	</main>
</div>