<footer id="main-footer">
    <div class="container">
        <div class="contact">
            <a href=""></a><h3 class="red-text">Cart <span class="dark-text">IT</span></h3></a>
            <p class="address">Location@CartIt Street 324</p>
            <p>Agadir, Morocco</p>
            <p>+212 000 0000 0000</p>
            <p>shopping@cartit.com</p>
            <div class="social">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="category">
            <h3>CATEGORY</h3>
            <ul>
                <li><a href="">Health And beauty</a></li>
                <li><a href="">House &amp; kitchen</a></li>
                <li><a href="">Fashion</a></li>
                <li><a href="">Telephone &amp; Electronics</a></li>
            </ul>
        </div>

        <div class="payment-methods">
            <h3>PAYMENT METHODS</h3>
            <i class="fab fa-cc-paypal fa-2x"></i>
            <i class="fab fa-cc-visa fa-2x"></i>
            <i class="fab fa-cc-mastercard fa-2x"></i>
        </div>
    </div>
</footer>