<main id="new-category">
    <form action="/admin/add/newcategory" method="POST">
    {{> flashmessage}}
    <h2>Add New Category</h2>
        <input type="text" name="category" id="category">
        <button type="submit" class="bg-red"><i class="fas fa-plus-circle"></i> Add Category</button>
    </form>
</main>