<main id="404" class="error-page">
    <img src="/images/404-top-image.jpeg" alt="">
    <h1 class="red-text">{{errorMessage}}</h1>
    <p>Looks like, page doesn't exist</p>
    <a href="/">Go Back</a>
</main>