<main id="sucess">
    <div class="container">
        <h2 class="green-text">Payment Successful</h2>
        <div class="success">
            <i class="far fa-check-circle fa-3x green-text"></i>
        </div>
        <div class="receipts">
            <div class="method flex">
                <strong>
                    <p>Payment method:</p>
                </strong>
                <p class="gray-text">{{type}}</p>
            </div>
            <div class="address flex">
                <strong>
                    <p>Address:</p>
                </strong>
                <p class="gray-text">{{address}}</p>
            </div>
            <div class="amount flex">
                <strong>
                    <p>Amount Paid:</p>
                </strong>
                <p class="gray-text">{{amount}}</p>
            </div>
            <div class="id flex">
                <strong>
                    <p>Transaction id:</p>
                </strong>
                <p class="gray-text">{{transaction}}</p>
            </div>
        </div>
        <a href="" class="bg-red"><i class="fas fa-cart-arrow-down"></i> Download Receipt</a>
        <a href="/" class="green-text">Continue shopping</a>
    </div>
</main>